.about{
    padding-top: $mainPaddingTop;
    padding-bottom: $mainPaddingBottom;
    .container{
        margin-top: 20px;
        background-color: $black;
        display: flex;
        gap: 15px;
        align-items: center;
        @media(max-width :991px){
            &{
                flex-direction: column;
            }
        }
        .img{
            img{
                max-width: 100%;
            }
        }
        .text{
            flex-basis: 50%;
            h3{
                font-size: 40px;
                color: white;
                text-transform: capitalize;
                margin: 5px 0 10px 0;
                @media(max-width :991px){
                    &{
                        font-size: 35px;
                    }
                }
            }
            p{
                padding: 10px 0;
                color: $gray;
                line-height: 1.5;
                font-size: 17px;
                margin-bottom: 10px;
            }
        }
    }
}