@keyframes TopDown{
    0%,100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-20px);
    }
}
.blog{
    padding-top: $mainPaddingTop;
    padding-bottom: $mainPaddingBottom;
    .container{
        overflow: hidden;
        display: flex;
        gap: 15px;
        margin-top: 20px;
        @media(max-width :767px){
            &{
                flex-direction: column;
            }
        }
        .box{
            overflow: hidden;
            flex-basis: 33%;
            &.anm{
                animation: TopDown 0.8s linear forwards;
            }
            &:last-child{
                animation-delay: 0.4s;
            }
            &:nth-child(2){
                animation-delay: 0.2s;
            }
            img{
                max-width: 100%;
                transition: $mainTranstion;
            }
            h3{
                color: $white;
                font-size: 20px;
                text-transform: capitalize;
                margin: 20px 0;
            }
            span{
                color: $mainColor;
                text-transform: capitalize;
                font-size: 20px;
            }
            p{
                color: $gray;
                line-height: 1.5;
                font-size: 18px;
                margin: 10px 0;
            }
            &:hover{
                img{
                    transform: scale(1.2);
                }
            }
            @media(max-width :767px){
                &{
                    text-align: center;
                }
            }
        }
    }
}