header{
    @include paddingMaker(10,10);
    .container{
        @include FlexWithSpaceBetwen;
        position: relative;
        .logo{
            img{
                height: 60px;
                max-width: 100%;
            }
        }
        .nav{
            a{
                color: $white;
                text-transform: capitalize;
                font-size: 17px;
                margin-left: 16px;
                transition: $mainTranstion;
                &:hover{
                    color: $mainColor;
                    border-bottom: 1px solid $mainColor;
                    padding-bottom: 6px;
                }
            }
            @media(max-width : 768px){
                &{
                    opacity: 0;
                    position: absolute;
                    width: 250px;
                    right: 0;
                    background-color: white;
                    height: calc(100vh - 94px);
                    top: 100%;
                    
                    transition: $mainTranstion;
                    border-radius: 8px;
                    transform: scale(0);
                    transform-origin: top;
                    &.open{
                        opacity: 1;
                        transform: scale(1);
                    }
                    @media (max-width: 300px) {
                        & {
                          width: 100%;
                        }
                      }
                }
                & a{
                    color: $black;
                    display: block;
                    width: fit-content;
                    padding: 10px 5px;
                    margin-top: 10px;
                }
            }
            &.open{
                right: 0;
            }
        }
        .icon{
            i{
                color: $white;
                display: inline-block;
                margin-left: 16px;
                transition: $mainTranstion;
                font-size: 20px;
                &:hover{
                    color: $mainColor;
                }
                &#btn-bars{
                    display: none;
                    @media(max-width :767px){
                        &{
                            display: inline-block;
                        }
                    }
                }

            }
        }
            .fa-search{
                transition: $mainTranstion;
                font-size: 18px;
                cursor: pointer;
                &:hover{
                    color: $mainColor;
                }
            }
            .search-box{
                position: absolute;
                right: 0;
                top: 100%;
                width: 50%;
                background-color: white;
                padding: 10px;
                border-radius: 8px;
                transform: scale(0);
                opacity: 0;
                transform-origin: top;
                transition: $mainTranstion;
                display: flex;
                align-items: center;
                &.open{
                    transform: scale(1);
                    opacity: 1;
                }
                input{
                    &::placeholder{
                        text-transform: capitalize;
                    }
                    &:focus{
                        outline: none;
                    }
                    padding:5px 10px;
                    border: none;
                    width: 100%;
                }
                @media(max-width : 767px){
                    &{
                        width: 100%;
                    }
                }
            }
            .cart-container{
                position: absolute;
                background-color: white;
                width: 300px;
                right: 0;
                top: 100%;
                height: calc(100vh - 84px);
                opacity: 0;
                transform: scale(0);
                transition: $mainTranstion;
                border-radius: 8px;
                transform-origin: top;
                @media(max-width : 767px){
                    &{
                        width: 100%;
                    }
                }
                &.open{
                    transform: scale(1);
                    opacity: 1;
                }
                .cart-item{
                    position: relative;
                    padding: 10px 6px;
                    display: flex;
                    align-items: center;
                    .icon{
                        position: absolute;
                        right: 10px;
                        top: 30%;
                        font-size: 20px;
                        transition: $mainTranstion;
                        &:hover{
                            color: $mainColor;
                        }
                    }
                    img{
                        width: 80px;
                        margin-right: 10px;
                    }
                    .content{
                        h3{
                            font-size: 20px;
                            text-transform: capitalize;
                            font-weight: bold;
                            margin-bottom: 8px;
                        }
                        .price{
                            color: $mainColor
                        }
                        
                    }
                    
                }
                .btn{
                    width: 100%;
                    margin-top: 10px;
                }
            }

        }
        
            .btn{
                display: block;
                text-align: center;
            }
        }

